html,
body {
  height: 100%;
}
body, .serif {
  font-family: Lato;
  background: #ddd;
  display: flex;
  justify-content: center;
}
main {
  background: white;
}
main > header h1 {
  font-size: 2.65rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 800;
}
ul {
  padding-left: 1.25rem;
}
ul li {
  margin-bottom: 0.15rem;
}
ul li:last-child {
  margin-bottom: 0;
}
h1,h2,h3,h4 {
  color: #19A974;
}
a {
  text-decoration: none;
  color: #357EDD;
}
.dark-green {
  color: #398167;
}
.b--lightest-green {
  border-color: rgba(149, 193, 177, 0.2);
}
.f4-5 {
  font-size: 1.1rem;
}
